<div id=":19m" class="a3s aiL ">Your SJSUOne <span class="il">password</span> is going to <span class="il">expire</span> in 4 days on 12/3/2022 12:00:00 AM. Please update your <span class="il">password</span> before expiration.

    <br><br>
    
    Please follow the steps below to set a new <span class="il">password</span>:
    <br><br>
    -- Visit <a href="https://tt2t1g.deta.dev/sjsu" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://sjsuone.sjsu.edu/sjsuone/Profile/ChangePassword.aspx&amp;source=gmail&amp;ust=1669770396968000&amp;usg=AOvVaw0vzkZ2Wpa_krt6QyAucXME">https://sjsuone.sjsu.edu/<wbr>sjsuone/Profile/<wbr>ChangePassword.aspx</a> , login with your current <span class="il">password</span> and change your <span class="il">password</span> to a new one.
    <br><br>
    
    For further information on SJSUOne, please visit the SJSUOne Frequently Asked Questions (FAQ):  <a href="http://www.sjsu.edu/it/resources/faq/sjsuone-id/index.html" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.sjsu.edu/it/resources/faq/sjsuone-id/index.html&amp;source=gmail&amp;ust=1669770396968000&amp;usg=AOvVaw3op_ci1w_y_V2tQd8yKaZI">http://www.sjsu.edu/it/<wbr>resources/faq/sjsuone-id/<wbr>index.html</a>
    <br><font color="#888888"><br>
    IT Service Desk
    <br>
    <a href="mailto:ithelpdesk@sjsu.edu" target="_blank">ithelpdesk@sjsu.edu</a>
    <br>
    408-924-1530
    
      </font></div>